/* Colors */
$color--background: #1a1a1d;
$color--text__primary: #ffffff;
$color--text__secondary: #4e4e50;
$color--accent__primary: #c3073f;
$color--accent__secondary: #4e001f;
$color--accent__gradient: linear-gradient(225deg, $color--accent__primary, $color--accent__secondary);